name: herdapp
description: "Social media of the future."
publish_to: 'none' # Remove this line if you wish to publish to pub.dev


version: 0.8.0+16

environment:
  sdk: ^3.6.1


dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.8
  firebase_core: ^4.2.0
  firebase_analytics: ^12.0.3
  firebase_auth: ^6.1.1
  cloud_firestore: ^6.0.3
  cloud_functions: ^6.0.3
  firebase_storage: ^13.0.3
  firebase_database: ^12.0.3
  go_router: ^16.0.0
  flutter_riverpod: ^3.0.3
  riverpod_annotation: ^3.0.3
  hooks_riverpod: ^3.0.3
  firebase_app_check: ^0.4.1+1
  cached_network_image: ^3.4.1
  freezed_annotation: ^3.0.0
  image_cropper: ^11.0.0
  image_picker: ^1.1.2
  file_picker: ^10.2.0
  path: ^1.9.1
  video_player: ^2.9.3
  chewie: ^1.11.0
  flutter_image_compress: ^2.4.0
  timeago: ^3.2.2
  google_mobile_ads: ^6.0.0
  json_annotation: ^4.9.0
  shimmer: ^3.0.0
  carousel_slider: ^5.0.0
  smooth_page_indicator: ^1.2.1
  share_plus: ^12.0.0
  photo_view: ^0.15.0
  device_info_plus: ^12.1.0
  package_info_plus: ^9.0.0
  flutter_markdown: ^0.7.7
  shared_preferences: ^2.5.3
  crypto: ^3.0.6
  http: ^1.3.0
  path_provider: ^2.1.5
  hive: ^2.2.3
  flutter_launcher_icons: ^0.14.3
  palette_generator: ^0.3.3+6
#  video_thumbnail: ^0.5.3
  permission_handler: ^12.0.0+1
  url_launcher: ^6.3.1
  quill_native_bridge: ^11.0.1
  flutter_keyboard_visibility_temp_fork: ^0.1.5
  flutter_quill_delta_from_html: ^1.5.2
  html: ^0.15.6
#  intl: ^0.20.2
  markdown: ^7.3.0
  meta: ^1.16.0
  quiver: ^3.2.2
  charcode: ^1.4.0
  collection: ^1.19.1
  dart_quill_delta: ^10.8.3
  flutter_colorpicker: ^1.1.0
  flutter_quill: ^11.4.0
  firebase_messaging: ^16.0.3
  flutter_local_notifications: ^19.2.0
  responsive_framework: ^1.5.1
  cryptography: ^2.7.0
  flutter_secure_storage: ^9.2.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  integration_test:
    sdk: flutter

  fake_cloud_firestore: ^4.0.0
  mockito: ^5.4.2
  flutter_lints: ^6.0.0
  riverpod_generator: ^3.0.3
  build_runner: ^2.4.13
  custom_lint: ^0.8.0
  riverpod_lint: ^3.0.3
  json_serializable: ^6.9.4
  freezed: ^3.0.5
  firebase_core_platform_interface: ^6.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/images/
    - assets/legal/
    - assets/icon/

flutter_launcher_icons:
    android: true
    ios: true
    image_path: "assets/icon/icon.png"
